<style>
pre>code {
  background-color: rgba(0,0,0,.05);
  display: block;
  padding: .5em;
  -webkit-text-size-adjust: none;
  overflow-x: auto;
  white-space: pre;
}
</style>
<h1 id="quick-start">Quick Start</h1>
<h2 id="authentication">Authentication</h2>
<ul>
  <li>Use basic auth to get a temporary token.<br><pre><code class="lang-bash">    curl -u username:password -H &quot;Accept: application/json&quot; -H &quot;Content-Type: application/json&quot; -X POST http://127.0.0.1:5000/authenticate
    </code></pre>
    Responds with:<pre><code class="lang-json">  {
    &quot;token&quot;: &quot;6KXl+BT1deyXQqsI4Vhh9g9jlL+oI9UA67yAGBaceBk=\&quot;,
  }
    </code></pre>
  </li>
  <li>Use the returned token in subsequent requests.<br><pre><code class="lang-bash">  curl -H &quot;Authorization: Bearer \&quot;6KXl+BT1deyXQqsI4Vhh9g9jlL+oI9UA67yAGBaceBk=\&quot;&quot; -H &quot;Accept: application/json&quot;  -H &quot;Content-Type: application/json&quot;http://127.0.0.1:5000/messages
    </code></pre>
  </li>
</ul>
<h2 id="api-endpoints">API Endpoints</h2>
<h4 id="post-users">POST /users</h4>
Creates a user.
<blockquote>
  <p>Submit with this data:</p>
  <pre><code class="lang-json">  {
    &quot;username&quot;: &quot;bryan&quot;,
    &quot;password&quot;: &quot;password&quot;
  }
  </code></pre>
  <p>Responds with status 201 when successful</p>
</blockquote>
<h3 id="post-messages">POST <code>/messages</code></h3>
<p>Creates a message.</p>
<blockquote>
  <p>Submit with this data:</p>
  <pre><code class="lang-json">  {
    &quot;sender&quot;: 3,
    &quot;recipient&quot;: 1,
    &quot;body&quot;: &quot;Hello&quot;
  }
  </code></pre>
  <p>Responds with status 201 when successful</p>
</blockquote>
<h3 id="get-messages-users-1-3page-1perpage-10">GET <code>/messages?users=1,3&amp;page=1&amp;perpage=10</code></h3>
<blockquote>
  <p>Retrives all messages between users
  Responds with status 201 when successful</p>
</blockquote>
<h2 id="development">Development</h2>
<h3 id="install-dependencies">Install dependencies</h3>
<pre><code class="lang-bash">  pip install -r requirements.txt
</code></pre>
<h3 id="start-the-app">Start the app</h3>
<pre><code class="lang-bash">  FLASK_APP=basic_chat.py flask initdb
</code></pre>
<pre><code class="lang-bash">  FLASK_APP=basic_chat.py flask run
</code></pre>
<h3 id="testing">Testing</h3>
<pre><code class="lang-bash">    pytest test_routes.py
</code></pre>
